.navbar {
  background-color: #e3f2fd;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1000;
}

.navbar button {
  background: none;
  border: none;
  color: blue;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px 20px;
  margin:  10px;
  font-weight: bold;
  
}

.navbar button:hover {
  text-decoration: underline;
}
.autocomplete-container{
  z-index: 9999; 
}
/* צבע טקסט וגבול של כל אפשרות */
.custom-autocomplete .css-d7l1ni-option {
  color: #333;
  padding: 10px;
 
}

/* צבע הרקע כאשר מרחפים מעל אפשרות */
.custom-autocomplete .css-d7l1ni-option:hover {
  background-color: #0073e6;
  color: #ffffff;
}

.Hotel{
  z-index: 9999; 
}
