.navbar {
  background-color: #e3f2fd;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar button {
  background: none;
  border: none;
  color: blue;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px 20px;
  margin:  10px;
  font-weight: bold;
  
}

.navbar button:hover {
  text-decoration: underline;
}
.autocomplete-container{
  z-index: 1000; 
}



.Buton{
  z-index: 1000;
} 



/* רשימת המקום לא פעיל עדיין בבדיקה*/

.container {
  display: flex;
  height: 100vh; /* גובה מלא */
  transition: all 0.3s ease-in-out; /* אפקט חלק בזמן הצגת הרשימה */
}






/* Sidebar שמחליק מהצד הימני */
.sidebar {
  position: fixed;
  top: 120px;
  right: -400px;
  width: 330px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  height: 940px;
  border-radius: 8px;
}

.sidebar.open {
  right: 0;
}

/* כפתור סגירה בתוך הסיידבר */
.sidebar .close-btn {
  background: none;
  border: none;
  font-size: 24px;
  float: left;
  cursor: pointer;
  margin-bottom: 20px;
}
